.div2 {
    background-color: lightgray;
    margin-left: 7em;
    border: .1em solid lightgray;
}

.div3 {
    background-color: white;
    border: .05em solid;
    width: 50%;
    margin: auto;
}

.div4 {
    background-color: #b3b1b1;
    margin-top: .5em;
    margin-bottom: .5em;
    border: .07em solid #b3b1b1;
}

.li_main {
    background-color: white;
    border: .06em solid red;
    list-style-type: none;
    box-shadow: inset 1em 0em 2em -1em #f78181;
}

.ul1{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1em;
    margin: 1em;
}
