
.title {
    color: red;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 0.5em;
}

.text {
    font-family: initial;
}

.author {
    font-style: italic;
    font-family: initial;
    margin-top: 1.5em;
}

.date {
    font-family: auto;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.li_common {
    margin-right: .5em;
    list-style-type: none;
    font-size: .6em;
}

.div_main {
    display: inline-block;
    margin: .5em;
}

